<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="staddlevendor.com.staddlevendor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute">
        <activity android:name=".activity.ViewOrderActivity"></activity>
        <activity android:name=".activity.TotalSalesActivity" />
        <activity
            android:name=".activity.AddPromoCodeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.CompletedOrderActivity" />
        <activity android:name=".activity.AcceptedListActivity" />
        <activity android:name=".activity.EnterPasswordActivity" />
        <activity android:name=".activity.MobileOtpActivity" />
        <activity
            android:name=".activity.ChangeImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderAddressActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".firebase.MyFirebaseMessagingService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER"
                    android:screenOrientation="portrait" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.AddOfferActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.WalletAmtActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.ServicesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TermAndConditionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ContactUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PolicyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SignUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.ProductListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PendingListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OfferAcceptedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RejectedListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OfferCompletedListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProductListDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OnGoingOfferActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MenuListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddVendorSubCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ManageSubCategoryListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderedListParsedDetailsActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>